name: Build project on PR

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    uses: ./.github/workflows/Build.yml
    with:
      upload_artifact: false
    secrets: inherit
