name: semantic-pr-title
on:
  pull_request:
    types: [opened, edited, reopened, synchronize, ready_for_review]

jobs:
  lint:
    permissions:
      pull-requests: write   
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
          scopes: |
            *
          subjectPattern: '^\S.+'
          subjectPatternError: 'Subject must not start with whitespace and must not be empty'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
